<div class="footer">
  <div class="contact-info">
    <h3>Contact Us</h3>
    <p>DocAssist hospital</p>
    <p>123 main Street Rawalpindi</p>
    <p>Phone: 051- 456-7890</p>
    <p>Email: assistdoc4@gmail.com</p>
  </div>
  <div class="quick-links">
    <h3>Quick Links</h3>
    <ul>
      <li><a href=" ">Home</a></li>
      <li><a href="Aboutus.html">About Us</a></li>
      <li><a href="Alldoctorsreal.html">Doctors</a></li>
      <li><a href="Faqs.html">FAQS</a></li>
    </ul>
  </div>
  <div class="Legal">
    <h3>Legal</h3>
    <ul>
      <li><a href="Privacy.html ">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="content">
    <button id="close">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <div class="contentDetail"></div>
  </div>
</div>
