<nav>
  <div class="logo">
    <img src="assets/images/Da.png" alt="Logo" />
    <h1>DocAssist</h1>
  </div>
  <i id="bar" class="fa-solid fa-bars"></i>
  <ul>
    <li>
      <a routerLink=""><i class="fa-solid fa-house"></i> Home</a>
    </li>
    <li>
      <a routerLink="/doctors"><i class="fa-solid fa-user-doctor"></i> Find a Doctor</a>
    </li>
    <li>
      <a routerLink="/contactus"><i class="fa-solid fa-envelope"></i> Contact Us</a>
    </li>
    <li>
      <a routerLink="/faqs"><i class="fa-solid fa-circle-question"></i> FAQs</a>
    </li>
  </ul>
</nav>
